// @use './styles/styles';

:root {
  --dark-gray: #2e4b5a;
  --darker-gray: #1e272e;
  --gray: #2f4452;
  --innactive: #677883;
  --innactive-lighter: #8ea2ad;
  --turquose: #30c5c0;
  --turquose-trans: #30c5c063;
  --turquose-dark: #56aca9;
  --cell-color: #455a64;
  --cell-color-filled: #677883;
  --transparent: transparent;
  --hover-keys: #97e4e1;
  --active: #8fe7e4;
  --yellow: #eeb559;
  --yellowish: #f7d092;
  --yellow-dark: #c7bba738;
  --yellow-dark-hover: #72624638;
  --hover-btn: #e9bb70;
  --light-gray: #dddbdb;
  --red: #dd5e73;
  --red-dark: #dd5e73;
  --font-highlight: #ad6b77;
  --green: #9fcf68;
  --light-green: #96cc7d;
  --border-board: #213636;
  --black: #000;
  --black-transparent: #00000048;
  --color: #ecead2;
  --font-family: verdana, geneva, tahoma, sans-serif;
}

/* Dark Theme */
body.dark {
  background-color: var(--darker-gray);
  color: var(--active);
}

/* Light Theme */
body.light {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

body.light button {
  background-color: var(--gray);
  color: var(--color);
}

body.light .presets-higlight {
  color: var(--red);
}

body.light button:hover {
  background-color: var(--innactive);
}

body.light .cell-crossed {
  background-color: var(--red);
}

body.light .cell-crossed::before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--black);
  content: 'X';
  font-size: 1.5em;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

body.light .cell {
  background-color: var(--yellow-dark);
}

body.light .cell-filled {
  background-color: var(--red);
}

body.light .cell-effect:hover {
  background-color: var(--yellow-dark-hover);
}

body.light .display {
  color: var(--dark-gray);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  // color: var(--color);
  color: var(--active);
  color-scheme: light dark;
  font-family: var(--font-family);
}

button {
  border: none;
  border-radius: 3px;
  background-color: var(--yellowish);
  color: var(--dark-gray);
  cursor: pointer;
  inline-size: 100%;
  min-block-size: 40px;

  // text-transform: uppercase;
}

button:hover {
  background-color: var(--light-gray);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  max-inline-size: 1440px;
  min-block-size: 100vh;
}

.wrapper {
  position: relative;
  display: flex;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  min-block-size: 300px;

  // max-inline-size: 100%;
}

.display {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  block-size: 3em;
  color: var(--active);
  max-inline-size: 300px;
  min-inline-size: 200px;
  overflow-wrap: break-word;
  text-align: center;
  white-space: normal;

  // text-wrap: wrap;
  // word-break: break-all;
}

.settings {
  position: fixed;
  top: 1%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;

  // inline-size: 150px;
}

.theme,
.sound {
  font-size: 12px;
  min-block-size: 30px;
  min-inline-size: 92px;
}

// CONTROLS
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  gap: 4px;
  inline-size: 100%;

  // flex-wrap: wrap;
}

.difficulty {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.presets {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  gap: 4px;
}

.presets-higlight {
  color: var(--font-highlight);

  // background-color: var(--hover-btn);
}

// GAME BOARD
.game {
  position: relative;
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  grid-template-areas:
    'timer hintTop'
    'hintSide board';
}

.timer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 7px;
  border-right: 3px solid var(--border-board);
  border-bottom: 3px solid var(--border-board);
  grid-area: timer;
  inline-size: 50px;
}

.timer-span {
  position: relative;
  top: 1px;
  right: 5px;

  // background-color: var(--border-board);
  // border-radius: 10px;
}

.random {
  position: absolute;
  overflow: hidden;
  block-size: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  white-space: nowrap;
}

.hint {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-items: end;
  justify-content: center;
  block-size: 3.2em;
  inline-size: 3.2em;
}

.hintTop {
  // position: fixed;
  display: flex;
  min-height: 100%;
  align-items: end;
  border-bottom: 3px solid var(--border-board);

  // border-left: 3px solid var(--border-board);
  // border-right: 3px solid var(--border-board);
  grid-area: hintTop;

  .hint {
    // inline-size: unset;
    // text-orientation: upright;
    // writing-mode: vertical-rl;
  }
}

.hintSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 3px solid var(--border-board);
  block-size: 100%;
  grid-area: hintSide;

  // .hint {
  //   min-inline-size: 100%;
  // }
}

.hint-divider {
  box-sizing: content-box;
}

.hint-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  gap: 8px;
  inline-size: 100%;
}

.hint-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: end;
  block-size: 100%;
  gap: 8px;
}

.hint-cell {
  padding: 0 4px 0 0;
}

.board {
  display: flex;
  flex-direction: column;
  grid-area: board;
}

.row {
  display: flex;
}

.row-divider {
  border-bottom: 3px solid var(--border-board);
}

.cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black-transparent);
  background-color: var(--innactive);
  block-size: 3.2em;
  cursor: pointer;
  inline-size: 3.2em;
}

.cell-effect {
  // background-color: var(--turquose);
}

.cell-effect:hover {
  background-color: var(--innactive-lighter);
}

.cell-filled {
  border-radius: 6px;
  background-color: var(--darker-gray);
}

.cell-crossed {
  border-radius: 6px;

  // background-color: var(--hover-btn);
}

.cell-crossed::before {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--hover-keys);
  content: 'X';
  font-size: 1.5em;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

// .cell:active {
//   background-color: var(--dark-gray);
// }

.cell-divider {
  border-right: 3px solid var(--border-board);
}

.matchCtrl {
  display: flex;
  font-size: 1.3em;

  // flex-direction: column;
  gap: 4px;
  inline-size: 100%;
}

.hint,
.cell {
  block-size: 2.2em;
  inline-size: 2.2em;
}

@media (width < 1050px) {
  .hint,
  .cell {
    block-size: 2.2em;
    inline-size: 2.2em;
  }
}

@media (width < 699px) {
  .hint,
  .cell {
    block-size: 1.4em;
    inline-size: 1.4em;
  }
}
