:root {
  color: #181c29;
  font-family: Montserrat, sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #fff;
  font-size: 12px;
  font-weight: 600;
  inline-size: 100%;
  letter-spacing: 0.05em;
  line-height: 1.3;
  max-inline-size: 1440px;
  padding-inline: 82px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 12px;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    font-weight: 600;
    gap: 8px;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      block-size: 24px;
      inline-size: 24px;
    }

    &-link-wrapper {
      text-decoration: none;
    }
  }

  &__nav {
    display: flex;
    font-weight: 600;

    &-hamburger {
      position: relative;
      padding: 12px 20px;
      block-size: 40px;
      inline-size: 40px;
      transition: transform 0.2s ease;
    }

    // &-hamburger:hover {
    //   cursor: pointer;
    //   transform: rotate(-180deg);
    // }

    &-hamburger::before {
      position: absolute;
      border: 1px solid #181c29;
      border-radius: 1px;
      content: "";
      inline-size: 22px;
      inset-block-start: 14px;
      inset-inline-start: 9px;
      transform-origin: center;
      transition: transform 0.2s ease;
    }

    // &-hamburger:hover::before {
    //   transform: translateX(4px) rotate(45deg) translateY(6.5px);
    // }

    &-hamburger::after {
      position: absolute;
      border: 1px solid #181c29;
      border-radius: 1px;
      content: "";
      inline-size: 22px;
      inset-block-start: 23px;
      inset-inline-start: 9px;
      transform-origin: center;
      transition: transform 0.2s ease;
    }

    // &-hamburger:hover::after {
    //   transform: translateX(4px) rotate(-45deg) translateY(-6.5px);
    // }

    &_state {
      display: flex;
    }

    &-list {
      display: flex;
      padding: 0;
      margin: 0;
      gap: 8px;
      list-style: none;
    }

    &-link {
      padding: 12px 20px;
      border-radius: 4px;
      text-decoration: none;
      text-transform: uppercase;

      &-wrapper {
        transition:
          color 0.2s ease,
          background-color 0.2s ease;
      }

      // &:hover {
      //   padding: 0;
      // }

      // &:hover .header__nav-link-wrapper {
      //   padding: 12px 20px;
      //   border-radius: 12px;
      //   background-color: #ff46461a;
      //   color: #ff4646;
      // }
    }
  }

  &__nav-mobile_state {
    display: none;
  }
}

.header__nav-link_inactive {
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #ff46461a;
  color: #ff4646;
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ff4646;
  inline-size: 100%;
  max-inline-size: 1440px;

  .banner {
    display: flex;
    justify-content: center;
    background-image: url("/bg-ball.png"), url("/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-block: 60px;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      padding-block: 60px;
    }

    &__greetings {
      font-family: Allura, sans-serif;
      font-size: 24px;
      letter-spacing: 0.05em;
      line-height: 1;
    }

    &__title {
      display: inline-flex;
      font-size: 32px;
      letter-spacing: 0.18em;
      line-height: 1.5;
      max-inline-size: 430px;
      text-align: center;
      text-transform: uppercase;
      word-break: break-word;
    }

    &__gift-link {
      padding: 20px 32px;
      border-radius: 20px;
      background-color: #181c29;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.05em;
      line-height: 1.3;
      text-decoration: none;
      text-transform: uppercase;
      transition:
        background-color 0.3s ease,
        color 0.2s ease;

      // &:hover {
      //   background-color: #fff;
      //   color: #181c29;
      // }
    }
  }

  .about {
    padding: 60px 82px;
    background-image: url("/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
      display: flex;
      align-items: center;
      border-radius: 20px;
      background-color: #fff;
      min-block-size: 528px;
    }

    &__inf {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-right: 152px;
      padding-left: 60px;
      gap: 20px;
    }

    &__caption {
      color: #ff4646;
      font-family: Allura, sans-serif;
      font-size: 24px;
      letter-spacing: 0.05em;
      line-height: 1;
    }

    &__title {
      color: #181c29;
      font-size: 24px;
      letter-spacing: 0.16em;
      line-height: 1.52;
      text-transform: uppercase;
    }

    &__text {
      color: #181c29;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 1.48;

      &::selection {
        background-color: #ff4646;
        color: #fff;
      }
    }

    &__img-container {
      display: flex;
      border-radius: 20px;
      background-image: url("/santa.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      block-size: 528px;
      inline-size: 638px;
    }

    &__img-wrapper {
      display: flex;
      overflow: hidden;
    }
  }

  .slider {
    overflow: clip;
    padding: 60px 82px;
    background-image: url("/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 20px;
    }

    &__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      gap: 12px;
    }

    &__title {
      font-size: 24px;
      letter-spacing: 0.16em;
      line-height: 1.52;
      text-transform: uppercase;
    }

    &__caption {
      font-family: Allura, sans-serif;
      font-size: 24px;
      letter-spacing: 0.05em;
      line-height: 1;
    }

    &__row {
      display: flex;
      inline-size: 100%;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 21px;
    }

    &__text {
      color: #fff;
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: auto;
      text-transform: uppercase;
    }

    &__img-container {
      display: flex;
      block-size: 200px;
      inline-size: 200px;
    }

    &__img {
      display: flex;
      border-radius: 20px;
    }

    &__controls {
      display: flex;
      justify-content: end;
      cursor: pointer;
      inline-size: 100%;

      .control-arrows-svg {
        border-radius: 20px;
        fill: black;
        inline-size: 56px;
        stroke: #fff;
        transition: 0.3s ease;
      }

      // .control-arrows-svg:hover {
      //   stroke: #ff4646;
      // }

      .control-arrows-svg:active {
        stroke: #ff4646;
      }

      &-container {
        display: flex;
        gap: 20px;
      }

      &-left {
        display: flex;
        border: 1px solid #fff;
        border-radius: 20px;
        block-size: 56px;
        inline-size: 56px;
        transition: background-color 0.3s ease;

        // &:hover {
        //   background-color: #fff;
        // }
        &:active {
          background-color: #fff;
        }
      }

      &-right {
        display: flex;
        border: 1px solid #fff6;
        border-radius: 20px;
        block-size: 56px;
        inline-size: 56px;
        transform: scaleX(-1);
        transition: background-color 0.3s ease;

        // &:hover {
        //   background-color: #fff;
        // }
        &:active {
          background-color: #fff;
        }
      }
    }
  }

  .gifts {
    padding: 60px 82px;
    background-image: url("/bg-snow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__headline {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      gap: 12px;
    }

    &__title {
      font-size: 24px;
      letter-spacing: 0.16em;
      line-height: 1.52;
      text-transform: uppercase;
    }

    &__caption {
      font-family: Allura, sans-serif;
      font-size: 24px;
      letter-spacing: 0.05em;
      line-height: 1;
    }

    &__shelf {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
    }
  }

  .countdown {
    padding: 60px 82px;
    background-image: url("/bg-snow.png"), url("/bg-forest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    &__container {
      display: flex;
      justify-content: center;
      padding-block: 60px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 19px;
      padding-block: 60px;
    }

    &__title {
      display: inline-flex;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.16em;
      line-height: 1.52;
      max-inline-size: 430px;
      text-align: center;
      text-transform: uppercase;
      word-break: break-word;
    }

    &__clock-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    &__caption {
      align-items: start;
      font-family: Allura, sans-serif;
      font-size: 24px;
      letter-spacing: 0.05em;
      line-height: 1;
    }
  }

  .timer {
    border-radius: 20px;
    background-color: #fff6;
    color: #fff;

    &__container {
      display: flex;
      align-items: center;
      padding: 8px 12px 12px;
    }

    &__cell {
      display: flex;
      flex: 1;
      flex-direction: column;
      inline-size: 80px;
    }

    &__separator {
      background-color: #fff6;
      block-size: 20px;
      inline-size: 1px;
    }

    &__num {
      display: flex;
      justify-content: center;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 0.16em;
      line-height: 1.52;
      text-transform: uppercase;
    }

    &__alpha {
      display: flex;
      justify-content: center;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.05em;
      line-height: 1.3;
      text-transform: uppercase;
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ecf3f8;
  block-size: 342px;
  inline-size: 310px;

  // &:hover {
  //   cursor: pointer;
  // }

  &__container-img {
    display: flex;
    box-sizing: 230px;
    justify-content: center;
    inline-size: 310px;
  }

  &__img {
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    block-size: 100%;
    gap: 8px;
    transition: color 0.3s ease;

    // &::after {
    //   position: absolute;
    //   background-color: #06a24f1a;
    //   content: "";
    //   inset-block: 0;
    //   inset-inline: 0;
    //   opacity: 0;
    //   transition: opacity 0.3s ease;
    // }

    // &:hover::after {
    //   opacity: 1;
    // }

    &-tag {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.05em;
      line-height: 1.3;
      text-transform: uppercase;

      &_work {
        color: #4361ff;
      }

      &_health {
        color: #06a44f;
      }

      &_harmony {
        color: #ff43f7;
      }
    }

    &-text {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.08em;
      line-height: 1.52;
      text-transform: uppercase;

      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }
  }

  // &:hover .card__info {
  //   color: #ff4646;
  // }
}

.footer {
  display: flex;
  background-color: #fff;
  inline-size: 100%;
  max-inline-size: 1440px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 82px;
    gap: 60px;
    inline-size: 100%;
  }

  &__card-shelf {
    display: flex;
    justify-content: center;
    gap: 12px;
    inline-size: 100%;
    white-space: nowrap;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__socials {
    display: flex;
    gap: 12px;

    &-link {
      text-decoration: none;
      transition: color 0.3s ease;
    }
  }

  &__copyright {
    display: flex;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.48;

    &_font {
      font-family: Allura, sans-serif;
      font-size: 24px;
      letter-spacing: 0.05em;
      line-height: 1;
    }
  }

  &__socials-icon {
    display: flex;
    padding: 8px;
    transition: 0.3s ease;
  }

  &__socials-vector {
    display: flex;
    block-size: 24px;
    fill: #fff;
    stroke: #181c29;
    transition: 0.3s ease;
  }
}

.card-info {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #ecf3f8;
  gap: 12px;

  &__link {
    display: flex;
    flex: 1 0 0;
    text-decoration: none;
  }

  &__img {
    display: flex;
    block-size: 80px;
    inline-size: 80px;
  }

  &__text {
    color: #181c29;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.08em;
    line-height: 1.5;
    text-overflow: ellipsis;
    transition: color 0.3s ease;
  }

  &_bold {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.16em;
    line-height: 1.52;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header {
    &__nav-hamburger:hover {
      cursor: pointer;
      transform: rotate(-180deg);
    }

    &__nav-hamburger:hover::before {
      transform: translateX(4px) rotate(45deg) translateY(6.5px);
    }

    &__nav-hamburger:hover::after {
      transform: translateX(4px) rotate(-45deg) translateY(-6.5px);
    }

    &__nav-link:hover {
      padding: 0;
    }

    &__nav-link:hover .header__nav-link-wrapper {
      padding: 12px 20px;
      border-radius: 12px;
      background-color: #ff46461a;
      color: #ff4646;
    }
  }

  .main {
    .banner {
      &__gift-link {
        &:hover {
          background-color: #fff;
          color: #181c29;
        }
      }
    }

    .slider {
      .control-arrows-svg:hover {
        stroke: #ff4646;
      }

      &__controls {
        &-left {
          &:hover {
            background-color: #fff;
          }
        }

        &-rigth {
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }

  .card {
    &:hover {
      cursor: pointer;
    }

    &:hover .card__info {
      color: #ff4646;
    }
  }

  .footer {
    &__socials {
      &-link:hover {
        color: #ff4646;
      }
    }

    &__socials-icon:hover {
      cursor: pointer;
      stroke: #ff4646;
    }

    &__socials-vector:hover {
      stroke: #ff4646;
    }
  }

  .card-info {
    &:hover .card-info__text {
      color: #ff4646;
    }
  }
}
