@media (width < 1440px) {
  .header {
    padding-inline: clamp(0.5rem, -5.721rem + 12.96vi, 5.125rem);
  }

  .main {
    .about {
      padding-inline: clamp(0.5rem, -5.721rem + 12.96vi, 5.125rem);

      &__inf {
        padding-right: clamp(7rem, 3.637rem + 7.005vi, 9.5rem);
      }
    }

    .slider {
      padding-inline: clamp(0.5rem, -5.721rem + 12.96vi, 5.125rem);
    }

    .gifts {
      padding-inline: clamp(0.5rem, -5.721rem + 12.96vi, 5.125rem);
    }

    .countdown {
      padding-inline: clamp(0.5rem, -5.721rem + 12.96vi, 5.125rem);
    }
  }

  .footer__container {
    padding-inline: clamp(0.5rem, -5.721rem + 12.96vi, 5.125rem);
  }
}

@media (width < 1061px) {
  .footer__card-shelf {
    flex-direction: column;
  }
}

@media (width <= 768px) {
  .header {
    position: relative;

    &__nav {
      &_state {
        display: none;
      }

      &-mobile_state {
        display: flex;
      }

      &-mobile-list_state {
        display: none;
      }
    }

    &__nav-mobile {
      position: fixed;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--static-color, #fff);
      block-size: 100dvh;
      inline-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 120%;
      max-inline-size: 100%;
      opacity: 0;
      transition: 0.18s ease-out;
    }

    &__nav-mobile-open {
      inset-inline-start: 0;
      opacity: 1;
    }

    &__nav-list_mobile {
      flex-direction: column;
      align-items: center;
      font-size: 24px;
      gap: 8px;
      letter-spacing: 0.16em;
      line-height: 1.52;
      padding-block-start: 80px;
    }

    &__nav-item_mobile {
      padding: 4px 12px 20px; // scroll disabled!!
    }
  }

  .main .about__inf {
    width: 50%;
    padding-inline: clamp(1.25rem, -1.211rem + 10.336vi, 3.75rem);
  }

  .main .about__img-container {
    width: 50%;
  }

  .gifts-main__container {
    padding-inline: clamp(0.5rem, -0.512rem + 2.105vi, 1.25rem);
  }

  .scroll-up-arrow {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .scroll-up-arrow_inactive {
    z-index: -1;
    opacity: 0;
    pointer-events: none;
  }
}

@media (width < 568px) {
  .header__nav-list_mobile {
    padding-block-start: 80px; // 380
  }

  .store__tabs {
    gap: clamp(0rem, -1.019rem + 4.278vi, 0.5rem);
  }

  .store {
    &__tab {
      padding-inline: clamp(0.5rem, -1.028rem + 6.417vi, 1.25rem);
    }
  }

  .about__container {
    flex-wrap: wrap;
  }

  .main .about__inf {
    padding-block: 60px;
  }

  .main .about__img-container {
    inline-size: 638px;
  }
}
